{% extends "base.html" %}
{% load static %}
{% block content %}

<form method="post" action="{% url 'substantiv_results' %}">
    {% csrf_token %}
    <h1>Question {{word.number}}</h1>
    <h2>Ord: {{ word.ord }}</h2>
    <p>Kategori: {{ word.category }}</p>
    <input type="hidden" name="category" value="{{ word.category }}">
    <p>På Engelska: <input type="text" name="engelska"></p>
    <p>Obestämt Singular: <input type="text" name="obestamt_singular"></p>
    <p>Bestämt Singular: <input type="text" name="bestamt_singular"></p>
    <p>Obestämt Plural: <input type="text" name="obestamt_plural"></p>
    <p>Bestämt Plural: <input type="text" name="bestamt_plural"></p>
    <button type="submit">Submit</button>
</form>

{% endblock %}