{% extends "base.html" %}
{% load static %}
{% block content %}

<form method="post" action="{% url 'verb_results' %}">
    {% csrf_token %}
    <h1>Question {{word.number}}</h1>
    <h2>Verb: {{ word.ord }}</h2>
    <p>På Engelska: <input type="text" name="engelska"></p>
    <p>Infinitiv: <input type="text" name="infinitiv"></p>
    <p>Presens: <input type="text" name="presens"></p>
    <p>Imperativ: <input type="text" name="imperativ"></p>
    <p>Preteritum: <input type="text" name="preteritum"></p>
    <p>Perfekt: <input type="text" name="perfekt"></p>
    <p>Pluskvamperfekt: <input type="text" name="Pluskvamperfekt"></p>
    <button type="submit">Submit</button>
</form>

{% endblock %}