{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="home-hero text-center py-5">
    <div class="container">
        <h1 class="display-4 mb-4 fade-in">Welcome to my website!</h1>
        <h2 class="mb-5 fade-in" style="animation-delay: 0.0s">Here you can find my various projects, blog, and CV</h2>

        <div class="features-grid">
            <div class="card fade-in" style="animation-delay: 0.0s">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">View my CV</h2>
                    <a href="{% url 'cv' %}">
                        <button class="btn btn-secondary">View my CV</button>
                    </a>
                </div>
            </div>

            <div class="card fade-in" style="animation-delay: 0.0s">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">Photo Gallery</h2>
                    <a href="{% url 'gallery' %}">
                        <button class="btn btn-secondary">View Gallery</button>
                    </a>
                </div>
            </div>

            <div class="card fade-in" style="animation-delay: 0.0s">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">Practice your Swedish</h2>
                    <a href="{% url 'game_start' %}">
                        <button class="btn btn-secondary">Öva din Svenska</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}